* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: grey;
    font-family:  sans-serif;
}

.contenedor{ 
    display: flex;
    min-height: 100vh;
}

.primero h5 {
    color: rgb(85, 8, 40);
    padding: 20px;
    font-size: 20px;
}

.primero audio {
    width: 80%;
}

.detalle {
    font-size: 15px;
    padding: 10px;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.cont-izq {
    width: 100%;
}

.titulo {
    color: white;
}
.estilo-calendario {
    height: 100vh;
    color: white;
    position: relative;
    background-image: url("../img/orgullo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carrusel {
    align-items: center;
}
.titulo {
    color: white;
}
.titulo h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.titulo h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo h4 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.mes {
    margin-top: 10px;
    font-size: 40px;
    color: rgb(192, 82, 100);
}

.dias {
    font-size: 20px;
}

.dias td {
    padding: 10px;
}

.numero {
    font-size: 30px;
}

.contenedor-mes {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 25px;
}

.carrousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
    color: white;
}


a{
    text-decoration: none;
    background-color: rgb(85, 8, 40);
    padding: 0 10px;
    color: white;
}















.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
    padding: 50px 0;
    justify-content: center;

}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 img{
    width: auto;
    height: 100%;
    object-fit: cover;

}

.box3 img{
    width: auto;
    height: 100%;
    object-fit: center;

}

.box p {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid rgb(85, 8, 40);
    padding: 10px;
    display: flex;
    align-items: center;
    
}


.box video {
    width: 100%;
    height: 100%;
    object-fit: center;
}


.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}


@media(max-width: 768px) {
    .container {
      padding: 30px; 
      grid-template-columns: repeat(1, 1fr);   }

    .box:nth-child(1) {
        grid-column-start: span 1;
    }

    .box:nth-child(4) {
        grid-column-start: span 1;
    }
}