body {
    text-align: center;
    background-color: grey;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{ 
    display: flex;
    width: 100%;
    height: 100vh;
}
.primero {
    background-color: pink;
}

.primero h5 {
    color: rgb(85, 8, 40);
    padding: 20px;
    font-size: 20px;
}

.primero audio {
    width: 80%;
}

.detalle {
    font-size: 15px;
    padding: 10px;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.cont-izq {
    width: 100%;
    background-color: grey;
}

table {
    border: 20px;
    margin: 20px auto;
    padding: 10px;
}

.carrusel {
    position: relative;
    background-image: url("../img/fondo.jpeg");
    background-size: contain;
    background-position: center;
}

.carrusel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.titulo h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.titulo h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo h4 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.mes {
    margin-top: 10px;
    font-size: 25px;
    color: rgb(85, 8, 40);
    background-color: white;  
}

.dias {
    font-size: 20px;
}

.dias td {
    padding: 10px;
}

.numero {
    font-size: 30px;
}

.contenedor-dias {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding: 40px;
    background-color: pink;
    color: white;
    border-radius: 25px;
}

.estilo-texto {
    display:contents;
   
    color: rgb(146, 26, 76);
    font-size: 15px;
    text-align: center;
    margin: 20px;
}
    
img { 
    width: 20px;
    height: auto; 
    background-position: cover;
    margin: 10px;
    align-items: center;
}

video {
    max-height: 300px;
    max-width: 100%;
    height: auto;
    margin: 10px;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(85, 8, 40);
}