* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    text-align: center;
    background-color: grey;
    font-family: "Stack Sans Headline", sans-serif;
}

.contenedor{ 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 0;
    justify-content: center;
}

.primero audio {
    width: 80%;
}


.primero ul {
    list-style: none;
    padding: 0;
}

.cont-izq {
    min-height: 100vh;
}



.titulo {
    color: white;
}


.titulo {
    color: white;
}
.titulo h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.titulo h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.carrusel {
    padding: 20px;
}


.mes {
    font-size: 40px;
    color: rgb(255, 178, 216);
    text-transform: uppercase ;
}

.estilo-calendario {
    color: white;
    position: relative;
    background-image: url("../img/orgullo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 5%;
}


.contenedor-mes {
    width: 80%;
    margin: auto;
   
}

.dias {
    font-size: 30px;
}

.numero {
    font-size: 40px;
}


.carrusel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 10% 0;
}

.footer {
    color: white;
    width: 50%;
    margin: auto;
}


a{
    text-decoration: none;
    background-color: rgb(105, 25, 59);
    padding: 0 10px;
    color: white;
    border-radius: 50px;
}


.box iframe {
    width: 100%;
    height: 800px;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
    padding: 50px 0;
    justify-content: center;

}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 img{
    width: auto;
    height: 100%;
    object-fit: cover;

}

.box3 img{
    width: auto;
    height: 100%;
    object-fit: center;

}

.box p {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid rgb(85, 8, 40);
    padding: 10px;
    display: flex;
    align-items: center;
    
}


.box video {
    width: 100%;
    height: 100%;
    object-fit: center;
}


.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}


@media(max-width: 768px) {
    .container {
      padding: 30px; 
      grid-template-columns: repeat(1, 1fr);   }

    .box:nth-child(1) {
        grid-column-start: span 1;
    }

    .box:nth-child(4) {
        grid-column-start: span 1;
    }


    .titulo h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .titulo h2 {
        font-size: 15px;
        margin-bottom: 20px;
    }    

    .mes {
        font-size: 20px;
        color: rgb(192, 82, 100);
    }

    .dias {
        font-size: 10px;
    }

    .numero {
        font-size: 15px;
    }



    .box iframe {
        width: 100%;
        height: 400px;
    }
}
